<thf-modal #modal t-title="Filtro" [t-primary-action]="confirm" [t-secondary-action]="close">
  <form #optionsForm="ngForm">
  <thf-input
    type="number"
    name="cod_emitente_ini"
    id="cod_emitente_ini"
    class="thf-md-6"
    t-label="Cod. Emitente Inicial"
    [(ngModel)]="params.cod_emitente_ini"
  >
  </thf-input>

  <thf-input
    name="cod_emitente_fim"
    id="cod_emitente_fim"
    class="thf-md-6"
    t-label="Cod. Emitente Final"
    [(ngModel)]="params.cod_emitente_fim"
  >
  </thf-input>

  <thf-input
    name="nro_docto_ini"
    id="nro_docto_ini"
    class="thf-md-6"
    t-label="Número Documento Inicial"
    [(ngModel)]="params.nro_docto_ini"
  >
  </thf-input>

  <thf-input
    name="nro_docto_fim"
    id="nro_docto_fim"
    class="thf-md-6"
    t-label="Número Documento Final"
    [(ngModel)]="params.nro_docto_fim"
  >
  </thf-input>

  <thf-input
    name="serie_docto_ini"
    id="serie_docto_ini"
    class="thf-md-6"
    t-label="Série Documento Inicial"
    [(ngModel)]="params.serie_docto_ini"
  >
  </thf-input>

  <thf-input
    name="serie_docto_fim"
    id="serie_docto_fim"
    class="thf-md-6"
    t-label="Série Documento Final"
    [(ngModel)]="params.serie_docto_fim"
  >
  </thf-input>

  <thf-input
    name="nat_operacao_ini"
    id="nat_operacao_ini"
    class="thf-md-6"
    t-label="Natureza Operação Inicial"
    [(ngModel)]="params.nat_operacao_ini"
  >
  </thf-input>

  <thf-input
    name="nat_operacao_fim"
    id="nat_operacao_fim"
    class="thf-md-6"
    t-label="Natureza Operação Final"
    [(ngModel)]="params.nat_operacao_fim"
  >
  </thf-input>

  <thf-input
    name="cod_estabel_ini"
    id="cod_estabel_ini"
    class="thf-md-6"
    t-label="Código Estabelecimento Inicial"
    [(ngModel)]="params.cod_estabel_ini"
  >
  </thf-input>

  <thf-input
    name="cod_estabel_fim"
    id="cod_estabel_fim"
    class="thf-md-6"
    t-label="Código Estabelecimento Final"
    [(ngModel)]="params.cod_estabel_fim"
  >
  </thf-input>

  <thf-datepicker
    class="thf-md-6"
    name="dt_trans_ini"
    id="dt_trans_ini"
    [(ngModel)]="params.dt_trans_ini"
    t-clean
    t-label="Data Transação Inicial"
    [t-max-date]="params.dt_trans_fim"
  >
  </thf-datepicker>

  <thf-datepicker
    class="thf-md-6"
    name="dt_trans_fim"
    id="dt_trans_fim"
    [(ngModel)]="params.dt_trans_fim"
    t-clean
    t-label="Data Transação Final"
    [t-min-date]="params.dt_trans_ini"
    [(ngModel)]="dt_trans_fim"
  >
  </thf-datepicker>

  <thf-select
    class="thf-md-6"
    name="getConfere"
    [(ngModel)]="params.i_confere"
    t-label="Dados já conferidos?"
    [t-options]="getConfereOptions"
  >
  </thf-select>

  <thf-select
    class="thf-md-6"
    name="getDetalhe"
    [(ngModel)]="params.l_detalhe"
    t-label="Dados analiticos?"
    [t-options]="getDetalheOptions"
  >
  </thf-select>

  <div class="thf-row">
    <thf-button class="thf-md-3" type="submit" t-label="Teste" (t-click)="ok()"> </thf-button>
  </div>
</form>
</thf-modal>

<thf-loading-overlay
  *ngIf="getShowLoadding()"
  t-screen-lock="true"
></thf-loading-overlay>

<thf-button t-label="Filtro" (t-click)="modal.open()"></thf-button>
