<div class="thf-wrapper">
  <thf-toolbar [t-title]="titleToolbar"></thf-toolbar>

  <thf-menu [t-menus]="menus"></thf-menu>

  <thf-page-default t-title="Consulta NF">
    <thf-modal #modal t-title="Filtro" [t-primary-action]="confirm" [t-secondary-action]="close" t-click-out="true"
      t-size="xl">
      <div *ngIf="modal_type == 'add'">
        <thf-input type="number" name="cod_emitente_ini" id="cod_emitente_ini" class="thf-md-6"
          t-label="Emitente Inicial" [(ngModel)]="params['cod-emitente-ini']">
        </thf-input>

        <thf-input name="cod_emitente_fim" id="cod_emitente_fim" class="thf-md-6" t-label="Emitente Final"
          [(ngModel)]="params['cod-emitente-fim']">
        </thf-input>

        <thf-input name="nro_docto_ini" id="nro_docto_ini" class="thf-md-6" t-label="Documento Inicial"
          [(ngModel)]="params['nro-docto-ini']">
        </thf-input>

        <thf-input name="nro_docto_fim" id="nro_docto_fim" class="thf-md-6" t-label="Documento Final"
          [(ngModel)]="params['nro-docto-fim']">
        </thf-input>

        <thf-input name="serie_docto_ini" id="serie_docto_ini" class="thf-md-6" t-label="Série Inicial"
          [(ngModel)]="params['serie-docto-ini']">
        </thf-input>

        <thf-input name="serie_docto_fim" id="serie_docto_fim" class="thf-md-6" t-label="Série Final"
          [(ngModel)]="params['serie-docto-fim']">
        </thf-input>

        <thf-input name="nat_operacao_ini" id="nat_operacao_ini" class="thf-md-6" t-label="Natureza Inicial"
          [(ngModel)]="params['nat-operacao-ini']">
        </thf-input>

        <thf-input name="nat_operacao_fim" id="nat_operacao_fim" class="thf-md-6" t-label="Natureza Final"
          [(ngModel)]="params['nat-operacao-fim']">
        </thf-input>

        <thf-input name="cod_estabel_ini" id="cod_estabel_ini" class="thf-md-6" t-label="Estabelecimento Inicial"
          [(ngModel)]="params['cod-estabel-ini']">
        </thf-input>

        <thf-input name="cod_estabel_fim" id="cod_estabel_fim" class="thf-md-6" t-label="Estabelecimento Final"
          [(ngModel)]="params['cod-estabel-fim']">
        </thf-input>

        <thf-datepicker class="thf-md-6" name="dt_trans_ini" id="dt_trans_ini" [(ngModel)]="params['dt-trans-ini']"
          t-clean t-label="Transação Inicial" [t-max-date]="params['dt-trans-fim']">
        </thf-datepicker>

        <thf-datepicker class="thf-md-6" name="dt_trans_fim" id="dt_trans_fim" [(ngModel)]="params['dt-trans-fim']"
          t-clean t-label="Transação Final" [t-min-date]="params['dt-trans-ini']" [(ngModel)]="params['dt-trans-fim']">
        </thf-datepicker>

        <thf-select class="thf-md-6" name="getConfere" [(ngModel)]="params['i-confere']" t-label="Dados já conferidos?"
          [t-options]="getConfereOptions" required>
        </thf-select>
      </div>
    </thf-modal>

    <thf-button t-label="Filtro" (t-click)="openModalAdd()" t-type="primary">
    </thf-button>

    <div>
      <thf-loading-overlay [hidden]="isHideLoading"></thf-loading-overlay>
    </div>

    <thf-table t-sort="true" t-striped="true" [t-columns]="tableColumns" [t-items]="tableDataA">
    </thf-table>
  </thf-page-default>
</div>
